/* Add styles for application here */

body {
    margin: 0px;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

header {
    background-color: #4080bf;
    overflow: hidden;
}

.home {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 24px;
}

img {
    padding-top : 5px;
    height : 45px;
    width : 45px;
}

.topnavlink {
    position: fixed;
    right: 130px;
    top: 20px;
    color: #f2f2f2;
    font-size: 18px;
}

.topnavlink-favorites {
    position: fixed;
    right: 30px;
    top: 20px;
    color: #f2f2f2;
    font-size: 18px;
}

.page-title {
    font-size: 170%;
    font-weight: bold;
    padding-left: 505px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 50px;
}

.notification-message {
    color: #2DAD05;
    font-size: 110%;
    font-weight: bold;
    padding-left: 545px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.notification-editMessage {
    font-size: 19px;
    color: #2DAD05;
}

.movieList {
    text-align: center;
    padding-left: 494px;
    padding-right: 60px;
    padding-top: 10px;
}

.movieEdit-customer {
    text-align: center;
    padding-left: 495px;
    padding-right: 60px;
    padding-top: 10px;
}

.nameitem {
    text-align: left;
}

.boxOffice {
    text-align: right;
}

.link-color {
    color: #000000;
}

.favorites-count {
    font-size: 105%;
    padding-left: 508px;
}

.favoriteEmpty-message {
    font-size: 19px;
    color: #9D9E9D;
}

.submitBtn {
    background-color: #4080bf;
    color: #ffffff;
    width: 8em;
    height: 3em;
}
.alignReq {
	text-align: left;
}
.linkColorEmpty {
	color: #4D97F5;
}
.link-color {
	color: #0000EE;
}
footer {
    background-color: #C4C7C3;
    color: #000000;
    overflow: hidden;
    padding: 14px 16px;
    font-size: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}